html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
}

.col {
  height: 100%;
}

div[class*='container'] {
  text-align: center;
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-1 {
  background: #333;
}
.container-2 {
  background: #4e598c;
}
.container-3 {
  background: #8499b1;
}
.container-4 {
  background: #9888a5;
}
.container-5 {
  background: #7b6d8d;
}
.container-6 {
  background: #565554;
}

/*
 BUTTON STYLING
*/

.btn {
  position: relative;
  color: white;
  width: 200px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  /* span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  } */
}

.btn::before,
.btn::after {
  content: '';
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/*
 BUTTON ONE
*/

.btn-one::before,
.btn-one::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-one:hover::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}
.btn-one:hover::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}

.btn-one:hover::after,
.btn-one:hover::before {
  left: 68px;
  width: 64px;
  cursor: pointer;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/*
 BUTTON TWO
*/

.btn-two::before {
  transition: transform 0.15s, 0.15s border-radius 0.15s;
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 0.1);
  border-radius: 50%;
}

.btn-two:hover::before {
  opacity: 1;
  transform: scale(1, 1);
  border-radius: 0;
  cursor: pointer;
}

.btn-two::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-two:hover::after {
  opacity: 0;
  cursor: pointer;
}
